/* Estilos para el carrusel de imágenes */
.owl-carousel {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
    gap: 15px; /* Espaciado entre las imágenes */
  }
  
  /* Estilos para las imágenes dentro del carrusel */
  .owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .owl-carousel .item img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  /* Para las opiniones de clientes */
  #reviews .owl-carousel {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
    gap: 15px; /* Espaciado entre las imágenes */
  }
  
  #reviews .owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #reviews .owl-carousel .item img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene la proporción de la imagen */
  }
















